@page "/"

<PageTitle>IsItMonday</PageTitle>
@if(DateTime.Now.DayOfWeek == DayOfWeek.Monday)
{
    <HeadContent>
        <meta name="description" content="Our pal Goofield will tell us if it is Monday today!" />
        <meta name="image" content="Images\\sadgoof.png" />
    </HeadContent>
} else
{
    <HeadContent>
        <meta name="description" content="Our pal Goofield will tell us if it is Monday today!" />
        <meta name="image" content="Images\\happygoof.png" />
    </HeadContent>
}


<div class="CenterDiv">
    <h1>Welcome to isitmon.day</h1>

    <img class="marginned" src="@imgSrc" asp-append-version="true" width="512px" />
    <img id="goofLabel" src="Images\goofLabel.png" />
    <h4>@headerFour</h4>
    <button class="btn btnIsItMonday" @onclick="DiscoverMonday">Is it Monday today?</button>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
        Tweet
    </a>

</div>

@code{

    private string headerFour = "If you want to know if today is Monday or not, simply click the button below to ask our friend Goofield!!";
    private string isMondayString = "Today is Monday :(";
    private string notMondayString = "Today is NOT Monday! Woohoo!";

    private string imgSrc = "Images\\goofield.png";  // \ is the escape char, so we use two
    private void DiscoverMonday(){
        DateTime dateTime = DateTime.Now;
        if(dateTime.DayOfWeek == DayOfWeek.Monday){
            headerFour = isMondayString;
            imgSrc = "Images\\sadgoof.png";
        } 
        else {
            headerFour = notMondayString;
            imgSrc = "Images\\happygoof.png";
        }

        StateHasChanged();
    }

}
