@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 justify-content-end" id="topBar">
            <NavLink class="nav-link col-auto" href="/">
                <span class="oi" aria-hidden="true"></span>Home
            </NavLink>
            <NavLink class="nav-link col-auto" href="/contributors">
                <span class="oi" aria-hidden="true"></span>Contributors
            </NavLink>
            <NavLink class="nav-link col-auto" href="faq">
                <span class="oi" aria-hidden="true"></span>FAQs
            </NavLink>
            <a href="https://github.com/HudsonSoutheyGordon/IsItMonday" target="_blank" class="col-auto">
                <img border="0" alt="Source Code" src="Images/GitHub32.png" width="32" height="32">
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
